<a href="https://colab.research.google.com/github/thiagolir4/materia4_DNC/blob/main/mat%C3%A9ria_4_DNC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRIMEIRA MATEIRA**

In [ ]:
print ("Isso é um teste ")

Isso é um teste

In [ ]:
largura = float(input("Digite a largura do retângulo: "))
altura = float(input("Digite a altura do retângulo: "))
area = largura * altura
metrica = "Area: "
#print("A área do retângulo é:", area, sep=';')
#usando fstring com python
print (f"{metrica} {area:.2f}")

Digite a largura do retângulo: 5.5
Digite a altura do retângulo: 2.7
Area:  14.85

In [ ]:
nota1 = float(input("Digite a nota da p1: "))
nota2 = float(input("Digite a nota da p2: "))
media = (nota1 + nota2) / 2
print("A média é:", media)

Digite a nota da p1: 5
Digite a nota da p2: 10
A média é: 7.5

In [ ]:
valor_monetario = 1457.87456
print (f"Valor em reais  R${valor_monetario:,.2f}")

Valor em reais  R$1,457.87

TESTE PARA VER SE ESTAVA SALVANDO

# case_tarefas.ipynb

In [ ]:
tarefa = input("Digite uma tarefa: ")
print("A tarefa foi adicionada!")
print (f"A tarefa adicionada foi: {tarefa} ")

Digite uma tarefa: estudar python
A tarefa foi adicionada!
A tarefa adicionada foi: estudar python

In [ ]:
while True:
  opcao = input("Digite uma tarefa ou sair para finalizar o progarama: ")
  if opcao.lower() == "sair":
    break
  tarefa = opcao
  print(f"A tarefa adicionada foi: {tarefa} ")
print(f"A ultima tarefa odicionada antes do programa finalizar foi {tarefa}")
print("Programa finalizado!")

Digite uma tarefa ou sair para finalizar o progarama: teste
A tarefa adicionada foi: teste
Digite uma tarefa ou sair para finalizar o progarama: trabalhat
A tarefa adicionada foi: trabalhat
Digite uma tarefa ou sair para finalizar o progarama: estudar
A tarefa adicionada foi: estudar
Digite uma tarefa ou sair para finalizar o progarama: sair
A ultima tarefa odicionada antes do programa finalizar foi estudar
Programa finalizado!

In [7]:
tarefas = []

while True:
  print(" ")
  print("**Menu de Opções**")
  print("1. Adicionar tarefa")
  print("2. Listar tarefas")
  print("3. Remover tarefas")
  print("4. Sair")
  opcao = input("Escolha uma opção: ")
  if opcao == "1":
    nome = input("Digite o nome da tarefa: ").upper()
    prioridade = input("Digite a prioridade da tarefa: ").upper()
    tarefa = {
        "nome": nome,
        "prioridade": prioridade
    }
    tarefas.append(tarefa)
    print(" ")
    print("A tarefa foi adicionada!")
    print(f"A tarefa adicionada foi: {tarefa}")
  elif opcao == "2":
    print(" ")
    print("--Lista de tarefas: ")
    for tarefa in tarefas:
      print(f"- Tarefa: {tarefa['nome']} - (Prioridade){tarefa['prioridade']}")
  elif opcao == "3":
    nome = input("Digite o nome da tarefa que deseja remover: ").upper()
    for tarefa in tarefas:
      if tarefa['nome'] == nome:
        tarefas.remove(tarefa)
        print(" ")
        print(f"A tarefa {nome} foi removida!")
        break
    else:
      print(" ")
      print("Tarefa não encontrada")
  elif opcao =="4":
    print("Programa finalizado!")
    break
  else:
    print("Opção inválida. Tente novamente.")

**Menu de Opções**
1. Adicionar tarefa
2. Listar tarefas
3. Remover tarefas
4. Sair
Escolha uma opção: 4
Programa finalizado!

# ***Lista de EXERCICIOS***

***Primeio ex: Operações Basicas***

In [ ]:
primeiro_numero = int(input("Digite o primeiro número: "))
segundo_numero = int(input("Digite o segundo número: "))
soma = primeiro_numero + segundo_numero
subtracao = primeiro_numero - segundo_numero
multiplicacao = primeiro_numero * segundo_numero
divisão = primeiro_numero / segundo_numero
divisao_inteira = primeiro_numero // segundo_numero
resto_divisao = primeiro_numero % segundo_numero
exponenciacao = primeiro_numero ** segundo_numero
print("A soma é:", soma)
print("A subtração é:", subtracao)
print("A multiplicação é:", multiplicacao)
print("A divisão é:", divisão)
print("A divisão inteira é:", divisao_inteira)
print("O resto da divisão é:", resto_divisao)
print("A exponenciação é:", exponenciacao)

Digite o primeiro número: 8
Digite o segundo número: 3
A soma é: 11
A subtração é: 5
A multiplicação é: 24
A divisão é: 2.6666666666666665
A divisão inteira é: 2
O resto da divisão é: 2
A exponenciação é: 512

***Segundo ex: Media de Notas***

In [ ]:
nota1 = float(input("Digite a nota da p1: "))
nota2 = float(input("Digite a nota da p2: "))
nota3 = float(input("Digite a nota da p3: "))
media = (nota1 + nota2 + nota3) / 3
print("A média é:", media)

Digite a nota da p1: 7
Digite a nota da p2: 8
Digite a nota da p3: 6
A média é: 7.0

***Terceiro ex: Area de um circulo***

In [ ]:
import math
raio = float(input("Digite o raio de um circulo: "))
area = math.pi * raio **2
print(f"A área do circulo é {area:.2f}")

Digite o raio de um circulo: 5
A área do circulo é 78.54

# ***Lista de EXERCICIOS LISTAS E FUNÇÕES***

In [ ]:
nome = input("Digite seu nome: ")
def saudacao(saudacao):
  return (f"olá {nome}, seja bem vindp!")
saudacao(nome)

Digite seu nome: thiago

'olá thiago, seja bem vindp!'

In [ ]:
numero1 = int(input("Digite um numero: "))
numero2 = int(input("Digite outro numero: "))
def soma(numero1, numero2):
  return numero1 + numero2
soma(numero1, numero2)

Digite um numero: 10
Digite outro numero: 5

15

In [ ]:
numero = int(input("Digite um numero para sabaer se é par ou impar: "))
def eh_par(numero):
    return numero % 2 == 0
print(eh_par(numero))

Digite um numero para sabaer se é par ou impar: 12341235
False

In [ ]:
def tabuada(n):
  for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")
numero = int(input("Digite um numero para saber sua tabuada: "))
tabuada(numero)

Digite um numero para saber sua tabuada: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
def maior_numero(lista):
    return max(lista)

lista = [1,2,3,4,5,6,7,8,9,50]
maior_numero(lista)

50

In [ ]:
def media_lista(lista):
    return sum(lista) / len(lista)

lista = [7,8,9,10]
media_lista(lista)

8.5

In [ ]:
def contar_pares(lista):
    return len([num for num in lista if num % 2 == 0])

lista = [1,2,3,4,5,6,7]
contar_pares(lista)

4

In [ ]:
def inverte_lista(lista):
    return lista[::-1]

lista = [1,2,3,4,5]
inverte_lista(lista)

[5, 4, 3, 2, 1]

In [ ]:
def remover_duplicatas(lista):
    return list(set(lista))

lista = [1,2,2,3,4,4,5]
remover_duplicatas(lista)

[1, 2, 3, 4, 5]

# MEXENDO COM LISTAS

In [ ]:
lista_nuns = [1,2,3,4,5,6,7]
print (lista_nuns)

[1, 2, 3, 4, 5, 6, 7]

aditando lista com append, insert e remove

In [ ]:
#no append o elemento vai para a ultima posição da lista
lista_nuns.append(8)
print (lista_nuns)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#no insert precisamos passar dois parametros para incluir o elemento na lista
#insert(posição do elemente, elemento adicionado)
lista_nuns.insert(0,0)
print (lista_nuns)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#no remove só passamos o parametro da posição na qual queremos remover da lista
lista_nuns.remove(8)
print (lista_nuns)

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
#modificando elementos da lista

lista_2 = [10,20,30]
print(lista_2)

lista_2 [1] = 50
print(lista_2)

[10, 20, 30]
[10, 50, 30]

In [ ]:
#concatenando listas
lista_3 = [1,2,3]
lista_4 = [4,5,6]
lista_5 = lista_3 + lista_4
print(lista_5)

[1, 2, 3, 4, 5, 6]

In [ ]:
#pop remove o ultimo item da lista
#a função .clear() limpa a lista
removido = lista_5.pop()
print(lista_5)
print(f"O elemento removido foi {removido}")

[1, 2, 3, 4]
O elemento removido foi 5

In [ ]:
#slicing ou fatiamento, eu consigo pegar um indecie especifico da lita
#por exemplo no codigo lista[2:] pego tudo do segundo elemento para frente
#ou lista[2:7] vou pegar tudo entre o parametro solicitado
lista = [0,1,2,3,4,5,6,7,8,9]

sublista = lista[2:6]

In [ ]:
#contando tamanho da lista
len(sublista)

4

In [ ]:
#contando elementos da lista
outra_lista = [1,2,3,3,3,3,3,3,3,2,1]
outra_lista.count(1)

2

In [ ]:
#usando reverse
lista.reverse()
print(lista)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
#usando for em listas
for i in lista:
  print(i)

9
8
7
6
5
4
3
2
1
0

In [ ]:
soma = 0

for n in lista:
  soma += n

print (soma)

45

In [ ]:
#usando while com lista
lista_frutas = ['banana', 'abacaxi', 'manga','banana', 'ameixa', 'banana']
frutaremovida = input("Digite uma fruta para ser removida da lista...")
while frutaremovida in lista_frutas:
  lista_frutas.remove(frutaremovida)

print(lista_frutas)

Digite uma fruta para ser removida da lista...manga
['banana', 'abacaxi', 'banana', 'ameixa', 'banana']

# MEXENDO COM TUPLAS

In [ ]:
tupla_numeros = (1,2,3,4,5,6,7)
tupla_variadas = ("banara", 1, 2.5, True)
tupla_numeros[2]

3

In [ ]:
t1 = (1,2,3,4)
t2 = (9,0)
print (t1 + t2)

(1, 2, 3, 4, 9, 0)

In [ ]:
print (t2 * 10)

(9, 0, 9, 0, 9, 0, 9, 0, 9, 0, 9, 0, 9, 0, 9, 0, 9, 0, 9, 0)

In [ ]:
t1 [1:3]

(2, 3)

# MEXENDO COM DICIONARIOS

In [ ]:
dicionario_vazio = {}

In [ ]:
dicionario_pessoas = {
    'nome': 'Bruno',
    'idade': 30,
    'cidade': 'São Paulo'
}
dicionario_pet = {
    'animal': 'Cachorro',
    'nome': 'Bob',
    'idade': 3
}
print(dicionario_pessoas)
print(dicionario_pet)
print(f"{dicionario_pessoas['nome']} tem um {dicionario_pet['animal']}")

{'nome': 'Bruno', 'idade': 30, 'cidade': 'São Paulo'}
{'animal': 'Cachorro', 'nome': 'Bob', 'idade': 3}
Bruno tem um Cachorro

In [ ]:
print(dicionario_pet['animal'])
print(dicionario_pet['idade'])

dicionario_pet['idade'] = 5

print(dicionario_pet)

dicionario_pet['sexo'] = "macho"
print(dicionario_pet)

#del dicionario_pet['nome']
print(dicionario_pet)
tem_chave_nome = 'nome' in dicionario_pet
print(tem_chave_nome)
tem_chave_sexo = 'sexo' in dicionario_pet
print(tem_chave_sexo)

Cachorro
5
{'animal': 'Cachorro', 'idade': 5, 'sexo': 'macho'}
{'animal': 'Cachorro', 'idade': 5, 'sexo': 'macho'}
{'animal': 'Cachorro', 'idade': 5, 'sexo': 'macho'}
False
True

In [ ]:
if 'nome' in dicionario_pet:
  print(dicionario_pet)

# MEXENDO COM FUNÇÕES